/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
  --border-bg-color: #D9D9D9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****header****/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6em;
  margin-bottom: 30px;
}

#logo {
  height: 40px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 25%;
  height: 100%;
}

.navbar-onglet {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar-onglet:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

/****Search****/

.search {
  margin-bottom: 30px;
}

.title-search p {
  margin-top: 5px;
}

.search-bar {
  height: 40px;
  font-size: 20px;
  display: flex;
  margin-top: 30px;
  width: 30%;
}

.search-bar i {
  color: black;
  font-size: 20px;
  margin: 0 5px;
  }

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  padding: 11px;
  border-radius: 15px 0 0 15px;
  }

.search-bar form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  height: 40px;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-right: none;
  border-left: none;
  background: none;
  padding: 12px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.search-bar button {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

#loupe {
  display: none;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.filters p {
  margin: 0 20px 10px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
}

.filters li {
  margin: 5px 10px;
}

.filters a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid var(--border-bg-color);
  border-radius: 30px;
}

.filters li i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--main-color);
}

.filters li p {
  margin: 0;
}

.filters a:hover {
  background-color: var(--border-bg-color);
}

.info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
  border: solid 1px var(--border-bg-color);
  border-radius: 50%;
  font-size: 1em;
  color: var(--main-color);
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  margin-bottom: 30px;
}

.herbergement-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.herbergement-cards .card {
  margin-bottom: 15px;
  height: 13em;
}

.herbergement-cards p {
  margin: 0;
}

.herbergement-cards .card-content {
  margin: 5px;
}

.herbergement-cards img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.link-more span {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  margin-bottom: 30px;
}

.populaires-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  width: 100%;
  height: 10em;
}

.populaires-cards img {
  width: 33%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.card-rating {
  margin-bottom: 5px;
}

/****Activities****/
.activities {
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}
.activities-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-activity {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.2));
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  aspect-ratio: 3/4;
}

.card-activity .card-title {
  margin: 20px;
}

.activities img {
  width: 100%;
  height: 85%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.activities .card-title {
  height: 15%;
  margin: 0 20px 0 ;
  padding-top: 15px;
}

/****footer****/

footer {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
  margin-top: 30px;
}

footer section {
  margin: 20px;
  width: 33%;
}

footer h3 {
  margin: 0;
}

footer li {
  margin-top: 10px;
}


/* Media Queries */
@media (max-width: 1024px) {

  #navbar {
    width: 30%;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }

  .card-subtitle {
    font-size: 13px;
  }

  .activities img {
    height: 75%;
  }

  .activities .card-title {
    height: 25%;
    margin: 0 20px 0 20px ;
    padding-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  #logo {
    margin: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: 10em;
  }

  .search {
    padding: 0 20px 0 20px;
  }

  #navbar {
    width: 100vw;
  }

  .navbar-onglet {
    border-bottom: 2px solid var(--border-bg-color);
    height: 5em;
  }

  .navbar-onglet:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  #text-btn-search {
    display: none;
  }

  #loupe {
    display: contents;
    color: white;
    font-size: 17px;
  }

  .search-bar {
    width: 100%;
    justify-content: space-between;
  }

  .search-bar button {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 45px;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .filters p {
    margin-bottom: 10px;
  }

  .filters ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .filters li {
    margin: 5px 0;
    width: 48%;
    text-align: center;
  }

  .filters a {
    padding: 10px;
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }

  .herbergement-cards {
    display: flex;
    flex-direction: column;
  }

  .hebergements-and-populaires .populaires  {
    background-color: var(--main-bg-color);
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements{
    background-color: white;
    margin-top: 0;
  }

  .hebergements .card {
    margin: 0;
    height: 12em;
    }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    }

  .populaires .card {
    margin-top: 0;
    height: 10em;
  }

  .activities {
    padding-top: 0;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .card-activity {
    width: 100%;
    height: 12em;
    margin: 0;
  }

  .activities img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }

  .card-activity .card-title {
    margin: 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  footer section {
    width: 100%;
  }

}
